* {
  box-sizing: border-box;
}

.parent {
  display: flex;
  align-items: center;
  gap: 40px;
  border: 1px dotted black;
  padding: 20px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.red {
  background-color: red;
  height: 150px;
  width: 150px;
  transform: translate(10px, 50px);
  transition: background-color 1s, color 1s;
}

.red:hover {
  background-color: pink;
  color: black;
}

.green {
  background-color: green;
  height: 100px;
  width: 100px;
  animation: spin 1s 3 linear;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.blue {
  background-color: blue;
  height: 50px;
  width: 50px;
  transform: scale(2);
}

.orange {
  background-color: orange;
  height: 150px;
  width: 150px;
  transform: skew(20deg, 20deg);
}
