:root {
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-primary-green: #819b57;
  --color-secondary-green: #465929;
  --color-secondary-copyright: #a18268;
  --color-secondary-border: #cfcfbc;
  --color-secondary-shadow: #a28268;
}
