.form-field {
  margin-bottom: 32px;
}

.form-label {
  position: absolute;
  display: block;
  top: 16px;
  left: 42px;
  color: var(--color-secondary-shadow);
}

.form-input {
  padding: 16px 42px;
  width: 100%;
  border: 1px solid var(--color-secondary-shadow);
  border-radius: 8px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.17;
}

.form-input:focus {
  border-color: var(--color-primary-green);
  outline: none;
  color: var(--color-primary-dark);
}

.form-input:hover {
  border-color: var(--color-primary-green);
  outline: none;
  color: var(--color-primary-dark);
}

.form-input:disabled {
  border-color: lightgray;
  outline: none;
  cursor: not-allowed;
}

.form-input::placeholder {
  color: var(--color-secondary-copyright);
  font-size: 16px;
  line-height: 1.17;
}

.form-input:disabled::placeholder {
  border-color: lightgray;
  outline: none;
  cursor: not-allowed;
}

.form-input:focus::placeholder {
  color: var(--color-primary-dark);
}

.form-button {
  margin: 0 auto 24px;
  display: block;
}

.form-terms {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  max-width: 220px;
  margin: 0 auto;
}

.form-terms-link {
  color: var(--color-primary-dark);
  text-underline-offset: 2px;
}
