.footer {
  background-image: url('../images/footer-background.png');
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 32px 0;
  position: relative;

  &::before,
  &::after {
    background-repeat: no-repeat;
    bottom: 0;
    content: '';
    position: absolute;
  }

  &::before {
    background-image: url(../images/decor-bread-small.png);
    left: 0;
    width: 180px;
    height: 120px;
  }

  &::after {
    background-image: url(../images/decor-bread-large.png);
    right: 0;
    width: 380px;
    height: 190px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }

  &__nav,
  &__address {
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex-basis: 50%;
      text-align: left;
    }
  }

  &__logo {
    width: 108px;
  }

  &__logo,
  &__menu {
    flex-grow: 1;
  }

  &__item {
    margin-bottom: 16px;
  }

  &__address-list,
  &__address-info {
    flex-grow: 1;
  }

  &__address-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;

    &:hover {
      color: var(--color-primary-green);
      font-size: 16px;
      font-weight: 300;
      text-decoration: none;
    }
  }

  &__icons {
    display: flex;
    gap: 22px;
    justify-content: center;

    @media screen and (min-width: $bp-tablet) {
      justify-content: flex-start;
    }
  }

  &__address-icon {
    fill: var(--color-primary-light);

    &:hover {
      fill: var(--color-primary-green);
    }
  }

  &__address-copyright {
    font-size: 14px;
    color: var(--color-secondary-copyright);
  }
}
